.nav.top-bar
  %ul.title-area
    %li
      OAUC logo
    %li.divider
  .top-bar-section
    %a{href:'#'}
      Summer 2013 Menu
    %a{href:'#'}
      About
    %a{href:'#'}
      Cupcake Game
    %a{href:'#'}
      Create a Cupcake!
    %ul.right
      - if user_signed_in? 
        %ul.has-dropdown
          = current_user.name
          %ul.dropdown
            %li
              = link_to 'My Account', edit_user_registration_path
              = link_to 'Sign Out', destroy_user_session_path 
        %a{href: '#'}
          Cart
      - else
        %a{href: '/users/sign_in'}
          Sign In
